* {
    light-purple: rgb(162, 155, 254);
    light-purple-solid: rgb(162, 155, 254);
    bg: #33415E;
    base: #141925;
    tr: #00000000;
    light-green: rgb(19, 55, 35);
    light-red: rgb(77, 31, 37);
}

/* vim:ft=css
